body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.article {
    background-color: #dfe6ec;
    display: flex;
    flex-direction: column;
    color: white;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.inizio {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
}

.facciona {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tweet-author {
    margin-left: 15px;
    display: inline-block;
}

.fine {
    display: flex;
    padding-top: 10px;
    font-size: 0.9em;
    color: #8899A6;
} 

.cuoricino{

    width: 24px;
    height: 24px;
}

.logoTwitter{
    width: 30px;
    height: 30px;
}

.colorato{

    color: rgb(34, 19, 243);
}