*{
    margin: 0;
    box-sizing: border-box;
}

body {
    
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d7f4f7;
    margin: 0;
}

.article {

    width: 601px; /* per centrare le cose si fà top: cal(50% - width /2) */
    height: 228px;

    position: absolute;
    top: calc(50% - (228px/2));
    left: calc(50% - (601px/2));
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px
}   

.inizio {
    position: relative;
    padding: 10px;
}

.facciona {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tweet-author {
    position: absolute;
    margin-left: 15px;
    display: inline-block;
    top: 10px;
}

.fine {
    padding-top: 10px;
    font-size: 0.9em;
    color: #8899A6;
} 

.cuoricino{

    width: 24px;
    height: 24px;
}

.logoTwitter{

    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
    height: 30px;
}

.colorato{

    color: rgb(34, 19, 243);
}

.pColoredBlack{

    color: black;
}

.pFooter{
    position: absolute;
    opacity: 60%;
    top: 200px;
    left: 65px;
}

.pTag{

    opacity: 60%;
    color: black;
}

.cuoricinoSvg{

    width: 25px;
    height: 25px;
}

.cuoricinoButton{

    background-color: #ffffff;
    border: #ffffff;
}

.mezzo{

    position: absolute; 
    top: 100px;
    left: 30px;
}
